<div class="container mt-5">
    <nav class="navbar navbar-expand navbar-dark bg-dark fixed-bottom justify-content-center" id="navigation">
        <div class="navbar-nav text-center">
            <a class="nav-item nav-link" href="./account.html">My Account<span class="sr-only">(My Account)</span></a>
            <a class="nav-item nav-link" href="./privacy-policy.html">Privacy Policy<span class="sr-only">(Privacy
                    Policy)</span></a>
            <a class="nav-item nav-link" href="./terms-of-service.html">Terms of Use<span class="sr-only">(Terms of
                    Use)</span></a>
            <a class="nav-item nav-link" href="./homepage.html">&copy2022 TeamVeggie<span class="sr-only">(Home
                    Page)</a>
        </div>
    </nav>
</div>