      <!-- Submit a Tip -->
    <div class="container-fluid" id="tip-submit">
        <div class="row justify-content-center">
            <div class="col-sm-11">
                <a href="/submit-tip" type="button" class="btn w-100" id="tip-form">
                    Submit a tip here!
                </a>
            </div>
        </div>
    </div>
    
    <!-- Filter -->
    <div class="container-fluid" id="filter">
        <div class="row justify-content-around">
            <div class="col-sm-11">
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Filter Tips:
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#">HTML</a>
                        <a class="dropdown-item" href="#">CSS</a>
                        <a class="dropdown-item" href="#">JS</a>
                        <a class="dropdown-item" href="#">NODE</a>
                        <a class="dropdown-item" href="#">MYSQL</a>
                        <a class="dropdown-item" href="#">My Tips</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Tip Cards -->
    <div class="container-fluid">
        <div class="row justify-content-around">
            <!-- HTML Card -->
            <div class="col-sm-11">
                <div class="card mb-3">
                    <h5 class="card-header"><i class="fa-brands fa-html5 fa-fw"></i>HTML5</h5>
                    <div class="card-body">
                        <h5 class="card-title"> Example Tip Submission</h5>
                        <p class="card-text">TIP SUBMISSION PREVIEW TEXT Lorem ipsum dolor sit amet, consectetur
                            adipiscing elit, sed do eiusmod tempor incididunt
                            ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                            laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in.
                        </p>
                        <a href="/">View More</a>
                    </div>
                </div>
            </div>
            <!-- CSS Card -->
            <div class="col-sm-11">
                <div class="card mb-3">
                    <h5 class="card-header"><i class="fa-brands fa-css3 fa-fw"></i>CSS3</h5>
                    <div class="card-body">
                        <h5 class="card-title">Example Tip Submission</h5>
                        <p class="card-text">TIP SUBMISSION PREVIEW TEXT Lorem ipsum dolor sit amet, consectetur
                            adipiscing elit, sed do eiusmod tempor incididunt
                            ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                            laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in.
                        </p>
                        <a href="/">View More</a>
                    </div>
                </div>
            </div>
            <!-- Javascript Card -->
            <div class="col-sm-11">
                <div class="card mb-3">
                    <h5 class="card-header"><i class="fa-brands fa-js-square fa-fw"></i>JAVASCRIPT</h5>
                    <div class="card-body">
                        <h5 class="card-title">Example Tip Submission</h5>
                        <p class="card-text">TIP SUBMISSION PREVIEW TEXT Lorem ipsum dolor sit amet, consectetur
                            adipiscing elit, sed do eiusmod tempor incididunt
                            ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                            laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in.
                        </p>
                        <a href="/">View More</a>
                    </div>
                </div>
            </div>
            <!-- Node JS Card -->
            <div class="col-sm-11">
                <div class="card mb-3">
                    <h5 class="card-header"><i class="fa-brands fa-node-js fa-fw"></i>NODE JS</h5>
                    <div class="card-body">
                        <h5 class="card-title">Example Tip Submission</h5>
                        <p class="card-text">TIP SUBMISSION PREVIEW TEXT Lorem ipsum dolor sit amet, consectetur
                            adipiscing elit, sed do eiusmod tempor incididunt
                            ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                            laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in.
                        </p>
                        <a href="/">View More</a>
                    </div>
                </div>
            </div>
            <!-- CSS Alt Card -->
            <div class="col-sm-11">
                <div class="card mb-3">
                    <h5 class="card-header"><i class="fa-brands fa-css3-alt fa-fw"></i>CSS3</h5>
                    <div class="card-body">
                        <h5 class="card-title">Example Tip Submission</h5>
                        <p class="card-text">TIP SUBMISSION PREVIEW TEXT Lorem ipsum dolor sit amet, consectetur
                            adipiscing elit, sed do eiusmod tempor incididunt
                            ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                            laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in.
                        </p>
                        <a href="/">View More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- <div class="statement">
    <h1>Your coding resource for expert advice submitted by members of the {COD}EZ.community</h1>
  </div> -->
