{{> header }}
     <!-- PRIVACY POLICY -->
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-10">
          <h2>Terms of Use</h2>
          <hr>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Elementum integer enim neque 
          volutpat ac tincidunt. Mauris sit amet massa vitae. In hac habitasse platea dictumst vestibulum rhoncus. Fames ac turpis egestas sed tempus urna. Egestas 
          egestas fringilla phasellus faucibus scelerisque eleifend. Nulla aliquet porttitor lacus luctus accumsan tortor posuere ac ut. Ridiculus mus mauris vitae ultricies 
          leo integer malesuada nunc vel. Est ante in nibh mauris cursus mattis molestie a. Ultricies mi eget mauris pharetra et ultrices neque ornare.
          Euismod quis viverra nibh cras pulvinar mattis nunc sed. Est lorem ipsum dolor sit amet consectetur adipiscing elit. Tellus pellentesque eu tincidunt tortor 
          aliquam nulla. Suscipit adipiscing bibendum est ultricies integer. Est ultricies integer quis auctor elit sed vulputate. Nisl nunc mi ipsum faucibus vitae aliquet nec 
          ullamcorper. Condimentum id venenatis a condimentum. Nunc sed blandit libero volutpat sed cras. Pulvinar sapien et ligula ullamcorper malesuada proin libero 
          nunc. Pellentesque elit eget gravida cum sociis natoque penatibus et magnis.
          Vestibulum morbi blandit cursus risus. Odio morbi quis commodo odio. Velit dignissim sodales ut eu sem. Velit scelerisque in dictum non consectetur a erat nam 
          at. Aliquam eleifend mi in nulla posuere. Mollis nunc sed id semper risus in hendrerit gravida rutrum. Volutpat consequat mauris nunc congue nisi. Sit amet luctus 
          venenatis lectus magna fringilla urna porttitor rhoncus. Cras semper auctor neque vitae tempus quam pellentesque nec. Id aliquet lectus proin nibh nisl 
          condimentum. Habitasse platea dictumst quisque sagittis. Congue nisi vitae suscipit tellus mauris a diam maecenas sed. Eros donec ac odio tempor orci dapibus 
          ultrices in. Purus faucibus ornare suspendisse sed nisi lacus sed viverra. Maecenas pharetra convallis posuere morbi leo urna. Libero enim sed faucibus turpis in 
          eu mi. Viverra vitae congue eu consequat ac felis donec et. Aliquam vestibulum morbi blandit cursus risus at ultrices. Velit laoreet id donec ultrices tincidunt arcu 
          non. Dui sapien eget mi proin sed libero enim.
          Vel risus commodo viverra maecenas accumsan lacus. Scelerisque varius morbi enim nunc faucibus a pellentesque. Placerat duis ultricies lacus sed turpis 
          tincidunt. Sagittis orci a scelerisque purus semper eget. Consectetur lorem donec massa sapien faucibus et molestie ac. Sed sed risus pretium quam vulputate 
          dignissim suspendisse in est. Sollicitudin tempor id eu nisl nunc mi ipsum faucibus. Eget magna fermentum iaculis eu non diam phasellus vestibulum. Magna sit 
          amet purus gravida quis blandit turpis. Id interdum velit laoreet id. Interdum posuere lorem ipsum dolor sit amet consectetur adipiscing.
          Turpis nunc eget lorem dolor sed viverra ipsum. At in tellus integer feugiat. Adipiscing elit ut aliquam purus sit amet luctus. Sed felis eget velit aliquet sagittis id 
          consectetur. Sagittis id consectetur purus ut faucibus. Duis tristique sollicitudin nibh sit amet commodo nulla. Diam ut venenatis tellus in metus. Scelerisque 
          varius morbi enim nunc faucibus a pellentesque sit. Vel pharetra vel turpis nunc eget lorem dolor sed viverra. Feugiat nisl pretium fusce id velit. Enim eu turpis 
          egestas pretium. Vel elit scelerisque mauris pellentesque pulvinar pellentesque habitant morbi tristique. Cum sociis natoque penatibus et magnis dis parturient 
          montes. In nulla posuere sollicitudin aliquam ultrices.
          </p>
          <hr>
        </div>
      </div>
    </div>
{{> footer }}