{{> header }}
<div class="container-fluid" id="tip-submit">
        <div class="row justify-content-center">
            <div class="col-sm-11">
                <a href="/submit-tip" type="button" class="btn w-100" id="tip-form">
                    Submit a tip here!
                </a>
            </div>
        </div>
</div>

<div class="container-fluid">
        <div class="row justify-content-around">
    {{#if tip}}
         
            <div class="col-sm-11">
                <div class="card mb-3 shadow">
                    <h5 class="card-header"><i class="fa-solid fa-code-branch"></i> {{tip.tip_language}}</h5>
                    <div class="card-body">
                        <h5 class="card-subtitle text-muted">{{tip.tip_title}}</h5>
                        <p class="card-text">{{tip.tip_detail}}
                        </p>
                    </div>
                </div>
            </div>

            <div class="container-fluid">
                <div class="row justify-content-center">
                    <div class="col-sm-11">
                        <a href="/" type="button" class="btn" id="return-btn">
                            Return to homepage
                        </a>
                    </div>
                </div>
            </div>
          
    {{/if}}
    </div>
    </div> 

    {{> footer }}