/* font-family: 'Bungee', cursive;
font-family: 'Gruppo', cursive;
font-family: 'Monoton', cursive;
font-family: 'Roboto', sans-serif; */

:root {
  --primary: black;
  --electricGreen: #ccf381;
  --electricBlue: #4831d4;
  --charcoal: #404040;
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--charcoal);
}

.navbar {
  padding: 2px 16px;
}

.navbar-brand {
  font-family: 'PT Sans', sans-serif;
  font-weight: 600;
  font-size: 38px;
}

.logo-1 {
  font-weight: 500;
}

.logo-2 {
  font-size: 26px;
  font-weight: 600;
  font-style: italic;
}

/* Header Buttons START */
.wrappers {
  font-size: 25px;
  font-weight: bold;
  display: inline-flex;
}

.wrappers .icon {
  margin: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  position: relative;
}

.user {
  padding-right: 12px;
}

.wrappers .icon span {
  position: relative;
  height: 40px;
  width: 40px;
  display: block;
  background: var(--electricBlue);
  border-radius: 50%;
  text-align: center;
  transition: all 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrappers .icon span i {
  font-size: 24px;
  line-height: 34px;
  color: white;
}

.wrappers .icon span i:hover {
  color: var(--charcoal);
}

.wrappers .icon .tooltips {
  position: absolute;
  bottom: 0px;
  font-size: 18px;
  padding: 4px 6px 1px 6px;
  border-radius: 10px;
  opacity: 0;
  pointer-events: none;
  transition: all 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrappers .icon:hover .tooltips {
  opacity: 1;
  bottom: -50px;
}

.wrappers .icon .tooltips:before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  top: -7px;
  right: 45%;
  transform: translateX(-50%) rotate(45deg);
}

.wrappers .user:hover span,
.wrappers .user:hover .tooltips,
.wrappers .user:hover .tooltips:before {
  background: var(--electricGreen);
}

.wrappers .home:hover span,
.wrappers .home:hover .tooltips,
.wrappers .home:hover .tooltips:before {
  background:var(--electricGreen);
}

#search-btn {
  color: white;
  background-color: var(--electricBlue);
}

#search-btn:hover {
  color: var(--charcoal);
  background-color: var(--electricGreen);
}
/* Header Buttons END */

.icon-size {
  font-size: 125px;
}

#tip-form {
  color: white;
  background-color: var(--electricBlue);
}

#form-container {
  margin-top: 35px;
}


