:root {
  --primary: #0b0b45;
  --secondary: #63666a;
}

.form-data {
  margin-top: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.container {
  width: 60%;
}
.account {
  padding: 7px;
  margin-bottom: 10px;
}

.form-data h3 {
  font-size: 22px;
  padding-bottom: 10px;
}

form label {
  font-size: 16px;
  font-weight: bold;
}

form input {
  border: 1px solid black;
  display: block;
  padding: 5px 10px;
  font-size: 22px;
  width: 100%;
  margin-bottom: 8px;
  border-radius: 10px;
}

button {
  width: 100%;
  font-size: 24px;
  color: white;
  background-color: var(--primary);
  padding: 4px;
  border: none;
}

.submit {
  margin-bottom: 20px;
}

.connect-icons {
  font-size: 50px;
  text-align: left;
}

.icon-btn {
  display: flex;
  justify-content: space-around;
  width: 40%;
  padding-top: 5px;
  padding-bottom: 5px;
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 10px;
}

.facebook {
  background-color: #4267b2;
}

.github {
  background-color: #333;
}

p {
  text-align: center;
  font-size: 22px;
  padding-bottom: 5px;
}

@media screen and (max-width: 1200px) {
  .form-data {
    display: block;
    margin-top: 30px
  };

  .account {
    width: 100%;
  }

}

/* 980 768 575  */
