:root {
  --primary: #0b0b45;
  --secondary: #63666a;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

/* Top Navigation START */
.top-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  color: white;
  background-color: #0b0b45;
}

.logo {
  font-size: 56px;
  font-family: 'PT Sans', sans-serif;
  font-weight: 600;
}

.logo span {
  font-weight: 200;
  font-style: italic;
  margin-left: 5px;
}

.menu {
  display: flex;
  gap: 1em;
}

.menu li {
  margin-right: 65px;
}

.menu li a {
  margin-top: 3px;
  margin-left: 20px;
  font-size: 38px;
  position: absolute;
  color: white;
}
/* Top Navigation END */

/* Side Navigation START */
.side-nav {
  margin: 0;
  padding: 0;
  width: 300px;
  position: fixed;
  height: 100%;
  overflow: hidden;
}

.side-nav p {
  display: block;
  text-align: center;
  font-size: 26px;
  font-weight: 500;
  color: white;
  background-color: var(--primary);
  margin-top: 10px;
  margin-left: 24px;
  padding: 30px 5px 30px 5px;
  border-radius: 2px;
}

.side-nav ul li {
  display: block;
  text-align: center;
  font-size: 30px;
  font-weight: 500;
  color: white;
  background-color: var(--secondary);
  margin-top: 15px;
  margin-left: 24px;
  padding: 3px 5px 3px 5px;
  border-radius: 3px;
}

.side-nav ul li a {
  color: white;
}
/* Side Navigation END */

/* Search Form START */
input {
  width: 79%;
  font-size: 28px;
  border-radius: 10px;
  border-color: var(--primary);
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 30px;
  font-style: italic;
  margin-right: 5px;
}

.tip-btn {
  width: 20%;
  font-size: 28px;
  color: white;
  background-color: var(--primary);
  border-radius: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
}
/* Search Form END */

/* Body of Homepage START */
.body-query {
  margin-top: 10px;
  margin-left: 325px;
  margin-right: 24px;
}

.body-query h2 {
  font-weight: 500;
  text-align: center;
  color: white;
  background-color: var(--primary);
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 10px;
  font-size: 26px;
}

.card-table {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 20px;
}

.card {
  display: flex;
  flex-wrap: no-wrap;
  margin-bottom: 20px;
}

.card i {
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 10px;
  font-size: 5rem;
}

.card-content {
  margin-top: 5px;
  margin-right: 50px;
}

.card-content h3 {
  font-size: 20px;
  text-align: left;
  margin-top: 5px;
  margin-bottom: 5px;
}

.card-content p {
  font-size: 16px;
  text-align: justify;
}
/* Body of Homepage END */

/* Footer START */
footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  color: white;
  background-color: var(--primary);
}

.footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-top: 5px;
  padding-bottom: 20px;
  font-size: 18px;
}

.footer ul {
  margin-left: 24px;
  font-weight: bold;
}

.footer ul li {
  margin-top: 10px;
}

.footer-logo {
  width: 70%;
  padding-left: 30%;
  margin-right: 36px;
}

.footer-logo h1 {
  font-size: 36px;
  font-weight: 700;
  font-family: 'PT Sans', sans-serif;
  margin-bottom: 10px;
}

.footer-logo span {
  font-weight: 200;
  margin-left: 5px;
  font-style: italic;
}

.footer-logo p {
  font-size: 20px;
}

.footer-policy {
  margin-left: 15px;
  padding-top: 7px;
  padding-bottom: 7px;
}
/* Footer END */
