:root {
  --primary: white;
  --secondary: #0b0b45;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

/* Top Navigation START */
.top-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  color: white;
  background-color: #0b0b45;
}

.menu {
  display: flex;
  gap: 1em;
}

.menu li {
  padding-right: 36px;
}

.menu li a {
  font-size: 28px;
  color: white;
}
/* Top Navigation END */

/* Side Navigation START */
.side-nav {
  margin: 0;
  padding: 0;
  width: 300px;
  position: fixed;
  height: 100%;
  overflow: auto;
}

.side-nav p {
  display: block;
  text-align: center;
  font-size: 32px;
  color: white;
  background-color: #0b0b45;
  margin-top: 15px;
  padding: 20px 5px 20px 5px;
}

.side-nav ul li {
  display: block;
  text-align: center;
  font-size: 32px;
  color: white;
  background-color: gray;
  margin-top: 22px;
  padding: 3px 5px 3px 5px;
}
/* Side Navigation END */


/* Search Form START */
input {
  width: 79%;
  font-size: 28px;
  border-radius: 10px;
  border-color: #0b0b45;
  color: black;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 30px;
  font-style: italic;
  margin-right: 5px;
}

.tip-btn {
  width: 20%;
  font-size: 28px;
  color: white;
  background-color: #0b0b45;
  border-radius: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
}
/* Search Form END */

/* Body of Homepage START */
.body-query {
  margin-top: 15px;
  margin-left: 325px;
  margin-right: 36px;
}

.body-query h2 {
  text-align: center;
  color: white;
  background-color: #0b0b45;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 10px;
  font-size: 26px;
}
/* Body of Homepage END */


/* Footer START */
footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  color: white;
  background-color: #0b0b45;
}

.footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 30px;
  font-size: 20px;
}

.footer ul {
  margin-left: 36px;
  color: white;
}

.footer ul li {
  margin-top: 10px;
}

.footer-logo {
  width: 65%;
  padding-left: 30%;
  margin-right: 36px;
  font-size: 21px;
}

.footer-policy {
  margin-left: 10px;
  padding-bottom: 10px;
}
/* Footer END */
